[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git

[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
